<% include ../partials/header %>
<% include ../../middleware/functions %>

<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><img src="<%= post.image %>" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>
            </div>
            <h1><%= post.title %><a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="/about" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="<%= post.author.image %>" alt="..." class="img-fluid img-latest"></div>
                <div class="title"><span><%= post.author.username %></span></div></a>
              <div class="d-flex align-items-center flex-wrap">       
                <div class="date"><i class="icon-clock"></i><%= timeDifference(post.date) %></div>
                <div class="views"><i class="icon-eye"></i></div>
                <div class="comments meta-last"><i class="icon-comment"></i><%= post.comments.length %></div>
              </div>
            </div>
            <% if(currentUser && currentUser._id.equals(post.author.id)) { %>
              <div class="btn-toolbar mt-4">
                <a class="btn btn-sm btn-outline-warning mr-3" href="/posts/<%= post._id %>/edit">Edit</a>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
              </div>
            <% } %>
            <div class="post-body">
              <%- post.body %>
            </div>
            <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                  <div class="text"><strong class="text-primary">Previous Post </strong>
                    <h6>to be added</h6>
                  </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                  <div class="text"><strong class="text-primary">Next Post </strong>
                    <h6>to be added</h6>
                  </div>
                  <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
            <div class="post-comments">
              <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">(<%= post.comments.length %>)</span></h3>
              </header>
              <% for (var i = 0; i < post.comments.length; i++) { -%>
                <div class="comment">
                  <div class="comment-header d-flex justify-content-between">
                    <div class="user d-flex align-items-center">
                      <div class="image"><img src="<%= post.comments[i].author.image %>" alt="" class="img-fluid rounded-circle"></div>
                      <div class="title"><strong><%= post.comments[i].author.username %></strong><span class="date"><%= timeDifference(post.comments[i].date) %></span></div>
                    </div>
                  </div>
                  <div class="comment-body">
                    <p><%= post.comments[i].body %></p>
                  </div>
                </div>
              <% } -%>
            </div>
            <div class="add-comment">
              <header>
                <h3 class="h6">Leave a reply</h3>
              </header>
              <form action="/posts/<%= post._id %>/comments" method="POST" class="commenting-form">
                <div class="row">
                  <% if(!currentUser) { %>
                    <div class="form-group col-md-6">
                      <input type="text" name="username" id="username" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" name="email" id="email" placeholder="Email Address (will not be published)" class="form-control">
                    </div>
                  <% } %>
                  <div class="form-group col-md-12">
                    <textarea name="comment[body]" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                  </div>
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-secondary">Submit Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../partials/widget %>
  </div>
</div>
<% include ../partials/footer %>