<% include ../partials/header %>

<%
function timeDifference(currentTime){
  var diff = (Date.now() - currentTime) / 1000;
  if (diff < 60) {
    return Math.floor(diff) + " seconds ago"
  }
  else if (diff < 3600) {
    return Math.floor(diff / 60) === 1 ? Math.floor(diff / 60) + " minute ago" : Math.floor(diff / 60) + " minutes ago"
  }
  else if (diff < 86400) {
    return Math.floor(diff / 3600) === 1 ? Math.floor(diff / 3600) + " hour ago" : Math.floor(diff / 3600) + " hours ago"
  }
  else if (diff < 2592000) {
    return Math.floor(diff / 86400) === 1 ? Math.floor(diff / 86400) + " day ago" : Math.floor(diff / 86400) + " days ago"
  }
  else if (diff < 31557600) {
    return Math.floor(diff / 2592000) === 1 ? Math.floor(diff / 2592000) + " month ago" : Math.floor(diff / 2592000) + " months ago"
  }
  else {
    return Math.floor(diff / 31557600) === 1 ? Math.floor(diff / 31557600) + " year" : Math.floor(diff / 31557600) + " years ago"
  }
}
%>
   <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%= post.title %></h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="/about"><%= post.author.username %></a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on <%= post.date.toDateString() %></p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="<%= post.image %>" alt="">

          <hr>

          <!-- Post Content -->
          <p><%= post.body %></p>

          <hr>
          <!-- Edit/Delete -->
        <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
          <div class="btn-toolbar">
          	<a href="/posts/<%= post._id %>/edit" class="btn btn-outline-warning mx-2">Edit</a>
          	<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          		<button class="btn btn-outline-danger mx-2">Delete</button>
          	</form>
          </div>
          <hr>
        <% } %>

          <!-- Comments Form -->
        <% if(currentUser){ %>
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/posts/<%= post._id %>/comments" method="POST">
                <div class="form-group">
                  <textarea name="comment[body]" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
              </form>
            </div>
          </div>
        <% } %>

          <!-- Comment with nested comments -->
          <% for (var i = 0; i < post.comments.length; i++) { -%>

          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <p class="float-right"><%= timeDifference(post.comments[i].date) %></p>
              <h5 class="mt-0"><%= post.comments[i].author.username %></h5>
              <p><%= post.comments[i].body %></p>
              <div class="float-right btn-toolbar">
                <a href="/posts/<%= post._id %>/comments/<%= post.comments[i]._id %>/edit" class="btn btn-xs btn-outline-warning">Edit</a>
                <form action="/posts/<%= post._id %>/comments/<%= post.comments[i]._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-xs btn-outline-danger">Delete</button>
                </form>
              </div>
              <% for (var j = 0; j < post.comments[i].comments.length; j++) { -%>

              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0"><%= post.author %></h5>
                  <p><%= post.comments[i].comments[i].body %></p>
                  <p><%= post.comments[i].comments[i].date.toDateString() %></p>
                </div>
              </div>

              <% } -%>
            </div>
          </div>

          <% } -%>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

<% include ../partials/footer %>